<div id="map">

</div>
<mat-card class="loading" *ngIf="loading">
  <h1>Loading...</h1>
</mat-card>
<mat-card class="controls">
  <mat-card-title>Controls</mat-card-title>
  <mat-card-content>
    <h4>Time</h4>
    <mat-slider thumbLabel [tickInterval]="tickSize" min="0" max="23" (change)="filterHeatmap()" [(ngModel)]="time">
    </mat-slider>
    <mat-slider thumbLabel [tickInterval]="tickSize" min="0" max="23" (change)="filterHexmap()" [(ngModel)]="timeHex">
    </mat-slider>
    <!-- <mat-form-field class="example-full-width" [(ngModel)]="tickSize">
      <input matInput placeholder="Tick Interval" value="1">
    </mat-form-field> -->
    <button mat-button color="primary" (click)="showAllJourneys()">Show All Journeys</button>
    <button mat-button color="primary" (click)="removeAllJourneys()">Remove All Journeys</button>
    <button mat-button color="primary" (click)="showHeatmap()">Show Heatmap</button>
    <button mat-button color="primary" (click)="hideHeatmap()">Hide Heatmap</button>
    <button mat-button color="primary" (click)="resetHeatmap()">Reset Heatmap</button>
    <button mat-button color="primary" (click)="startDrawing()">Start Drawing</button>
    <button mat-button color="primary" (click)="editDrawing()">Edit Drawing</button>
    <button mat-button color="primary" (click)="stopDrawing()">Stop Drawing</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Close</button>
  </mat-card-actions>
</mat-card>